.menu{
    display: flex;
    background-color: rgb(241, 164, 48);
    border-radius: 5px;
    height: 85px;
    justify-content: space-between;
    align-items: center;
  
    
}

.logo{
    width: 280px;


}

.menu ul{
    align-items: center;
    display: flex;
    margin: 10px;
    padding: 10px;
    list-style: none;
   
}

.menu a{
    font-weight: 700;
    margin:10px;
    text-decoration: none;
    color: white;
    
}

.menu li{
    font-size: 21px;
    list-style: none;
  
}

.menu :hover{
    color:rgb(104, 255, 242);
    transition: 0.1s;
}

header{
    width: 100%;
}

