.button{
    font-size: 15px;
    font-weight:bold;
    background-color: white;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    color:rgb(77, 163, 243);
    margin-top: 16px;
    width: 140px;
    height: 40px;
}

.button:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(77, 163, 243) ;
}